@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto/Roboto-Regular.ttf) format("ttf");
  src: url(./fonts/Roboto/Roboto-Bold.ttf) format("ttf");
}

* ul button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 h2 h3 h4 h5 {
  font-family: 'Roboto-Bold';
  font-weight: 700;
}

.wraper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-size: 14px;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  color: #262626;
  margin: 0;
  padding: 0;
}
